@media only screen  and (min-width:960px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    html{
        font-size: 16px;
        font-family: 'Kumbh Sans', sans-serif;
    }
    header{
        height: 110px;
        display: flex;
        align-items: center;
        border-bottom:1px solid hsl(220, 14%, 75%);
    } 
    #close-icon{
        display:none;
    }
    body{
        width:75%;
        margin:0 auto;
    }
    .logo{
        /* width:20%; */
    }
    .hamburger{
        display: none;
    }
    #menu{
        margin: 0 0 0 40px;
    }
    #menu a{
        padding:0 10px;
        /* font-weight: 700; */
        color:hsl(219, 9%, 45%);
        font-size: 1.05rem;
    }
    #menu a:hover{
        cursor: pointer;
        border-bottom:3px solid hsl(26, 100%, 55%);
        padding-bottom: 41.5px;
    }
    .avatar{
        margin-left:auto;
        width:4%;
    }
    .avatar:hover{
        cursor: pointer;
        border:3px solid hsl(26, 100%, 55%);
        border-radius: 50px;
    }
    #cart{
        margin-left:390px;
        /* margin-right:auto; */
    }
    #cart:hover{
        cursor: pointer;
    }
    #main-image{
        display: none;
    }
    .hero-section{
        width:95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: center;
        padding:0 10px;
        margin:80px auto 100px ;
    }
    #light-box{
        display: none;
        position:absolute;
        top:40px;
        right:33%;
        width:30%;
        /* background: rgb(0, 0, 0, 0.5); */
    /* box-shadow: 10px 10px 0px 0vw rgb(0, 0, 0, 0.5); */

    }
    #light-box-thumbnails{
        display: flex;
        padding:30px 0px 0;
        justify-content: space-around;
    /* box-shadow: 0 10px 0px 10vw rgb(0, 0, 0, 0.7); */

    }
    #light-box-thumbnail{
        width:100%;
    /* box-shadow: 0 10vw 0px 3.8vw rgb(0, 0, 0, 0.7); */

    }
    #light-box-product-view img{
        width:100%;
    box-shadow: 0vw 10vw 0px 50vw rgb(0, 0, 0, 0.8);
    border-radius: 15px;

    }
    #light-box-product-view {
    /* box-shadow: 0 0 0px 50vw rgb(0, 0, 0, 0.1); */
    /* box-shadow: 0 0 0px 50vw rgb(0, 0, 0, 0.5); */
    /* box-shadow: 0 0 0px 50vw rgb(0, 0, 0, 0.7); */
        /* background: rgb(0, 0, 0, 0.7);; */

    }
    #light-box-thumbnail img{
        width:85%;
    /* box-shadow: 8.8px 65px 0px 0.56vw rgb(0, 0, 0, 0.5); */
       
        border-radius: 15px;
    }
    #light-box-close-icon{
        transform: translateY(-460px);
        margin-left:auto;
        display: block;
        /* padding-top:30px; */
        margin-right:0px;
        width:4%;
        box-shadow: none;
        
        /* background: rgb(0, 0, 0, 0.5); */
    /* box-shadow: -30 -30px 0px 0vw rgb(0, 0, 0, 0.7); */

    }
    #light-box-close-icon:hover{
        cursor: pointer;
        color:orange;
        /* box-shadow: none; */
        /* background: orange; */
    }
    #light-box-arrow{
        background-color: white;
        /* padding:5px; */
    }
    #light-box-arrow:hover{
        cursor: pointer;
    }
    #light-box-left-arrow{
        transform:translateY(250px);
        margin-left:-25px;
        background-color: white;
        padding:15px;
        border-radius: 50px;
    }
    #light-box-right-arrow{
        background-color: white;
        border-radius: 50px;
        padding:15px;        
        /* transform: translateX(600px); */
        transform:translateY(-390.5px);
        margin-left:410px;
    }
    #light-box-thumbnail img:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    #desktop-image {
        width:100%;

    }
    #desktop-image img{
        width:100%;
        border-radius: 15px;
    /* box-shadow: 0 0 0px 1vw rgb(0, 0, 0, 0.5); */

    }
    #thumbnails{
        display: flex;
        margin:30px 0px;
        justify-content: space-between;
    /* box-shadow: 0 0 0px 100vw rgb(0, 0, 0, 0.5); */

        /* width:100%; */
    }
    #thumbnail {
        width:20%;
    /* box-shadow: 0 0 0px 2vw rgb(0, 0, 0, 0.5); */

        /* padding:0 10px; */
    }
    #thumbnail img:hover{
        cursor: pointer;
        opacity: 0.5;
    }
    .content{
        
    }
    .arrow{
        background-color: aliceblue;
        border-radius: 100px;
        padding:3px;
        text-align: center;
    }
    #cart-quantity{
        /* display: none; */
        margin:0 0px 21px -12px;
        font-size: 0.65rem;
        font-weight: 700;
        color:white;
        background-color: hsl(26, 100%, 55%);
        border-radius:6px;
    
    }
    #cart-quantity-background{
        padding:0 6px;
    }
    /* #main-image div{
        margin:20vh 0;
        /* padding:100x; */
    
    .arrow-left{
        width:100%;
        
    }
    .content{
        width:100%;
        padding:0 25px;
        margin:0 0 50px 25px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:center;
    }
    .content .company{
        font-size: 1rem;
        font-weight: 700;
        padding:0px 0 10px;
        letter-spacing: 0.08rem;
        color: hsl(26, 100%, 55%);
    }
    .content .heading{
        font-size: 2.8rem;
        font-weight: 700;
        /* width:80%; */
        color: hsl(220, 13%, 13%);
        padding:10px 0;
    }
    .content .product-detail{
        font-size: 1rem;
        /* width:90%; */
        padding:15px 0;
        line-height: 1.8;
        color:hsl(219, 9%, 45%);
        /* word-spacing: 0.1rem; */
        letter-spacing: 0.02rem;
    }
    .price-detail{
        display: grid;
        grid-template-columns: 0.5fr 1.9fr;
        padding:5px 0px;
        justify-content: center;
        align-items: center;
    }

.cross-original{
    /* margin-left:auto; */
    color: hsl(220, 14%, 75%);
    font-size: 1.05rem;
    font-weight: 700;
    margin-top:10px;
}
.price-detail p{
    /* padding:0px 10px; */
}
.rate p{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    margin-right:30px;
}

.fifty-percent span{
    background-color: hsl(25, 100%, 94%);
    font-size: 1.05rem;
    border-radius: 5px;
    padding:3px 8px;
   font-weight: 700;
   color:hsl(26, 100%, 55%);
}
.adding-deleting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plus-minus{
    width:40%;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    padding:22px 20px;
    margin:20px 0 15px;
    background-color:hsl(223, 64%, 98%);
    border-radius:10px;
    font-weight: 700;
    font-size: 1rem;

}
.plus-minus button{
    background:hsl(223, 64%, 98%);
    border:none;
}
.plus-minus button:hover{
    cursor: pointer;
}
#click-to-add{
   background-color:hsl(26, 100%, 55%); 
    width:55%;
    border:none;
    height:58px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
   
}
#click-to-add:hover{
    cursor: pointer;
}
#click-to-add div{
    display: flex;
    justify-content: center;
}
#click-to-add div p{
    padding:0px 15px;
}
#display-empty-cart{
    display: none;
    width:30%;
    position: absolute;
    margin-top:315px ;
    right:30px;
    box-shadow:0px 0px 30px 0px hsl(220, 14%, 75%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size:1.1rem;
}
#display-empty-cart #cart-empty {

    width:96%;
    border-bottom:1px solid hsl(220, 14%, 75%);
    font-weight: 700;
    margin:auto;
    padding: 20px 10px;
    background-color:white;
    color: hsl(220, 13%, 13%);

}
#display-empty-cart #cart-message p{
    display: flex;
    justify-content: center;
    align-content: center;
    width:96%;
    margin:0px 2%;
    padding: 78px 10px;
    background-color:white;
    color:hsl(219, 9%, 45%);
    font-weight: 700;

}
#display-filled-cart{
    width:30%;
    font-size: 1.2rem;
    position: absolute;
    margin:320px 0 0;
    display: flex;
    justify-content: center;
    right:30px;
    box-shadow:0px 0px 30px 0px hsl(220, 14%, 75%);
    border-radius: 10px;    
}
#cart-filled{
    width:96%;
    margin:auto;
    background-color:white;
    border-radius: 10px 10px 0 0 ;
    padding:25px 20px;
    border-bottom:1px solid hsl(220, 14%, 75%);
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    /* font-size: 1rem;     */

}
#filled-message{
    width:96%;
    background-color:white;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:25px 20px;
    margin:auto;
}

#show-quantity{
    display: flex;
}
#thumbnail-cart{
    width:15%;
}
#thumbnail-cart img{
    width:100%;
    border-radius: 5px;  
}
#filled-pricing{
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:hsl(219, 9%, 45%);

}
#delete-items{
    width:10%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#delete-items img{
    /* width:25%;
    height: 30%; */

}
#checkout{
    height:50px;
    border:none;
    border-radius:10px;
    margin:20px 0 0;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
    font-size:1.2rem;
}

}

@media only screen  and (max-width:500px){
#light-box-close-icon{
    display: none;
}
#light-box-left-arrow{
    display: none;
}
#light-box-right-arrow{
    display: none;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    height: 60px;
    display: flex;
    /* background: lightblue; */
    align-items: center;
    /* position: relative; */
}
#display-empty-cart{
    display: none;
    /* height: 30vh; */
    width:100%;
    position: absolute;
    /* padding:20px; */
    margin:315px 0 0;
    /* overflow: none; */
    /* padding:10px 30px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin-right: auto; */
}
#display-empty-cart #cart-empty {
    /* display: none; */
    width:96%;
    border-radius: 10px 10px 0 0;
    /* align-self: center; */
    border-bottom:1px solid hsl(220, 14%, 75%);
    font-weight: 700;
    margin:auto;
    padding: 20px 10px;
    background-color:white;
    color: hsl(220, 13%, 13%);

}
#display-empty-cart #cart-message p{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-content: center;
    width:96%;
    border-radius:0 0 10px 10px;
    /* align-self: center; */
    /* border-bottom:1px solid; */
    margin:0px 2%;
    padding: 78px 10px;
    background-color:white;
    color:hsl(219, 9%, 45%);

}
#display-filled-cart{
    width:100%;
    position: absolute;
    margin:320px 0 0;
    display: flex;
    justify-content: center;
}
#cart-filled{
    width:96%;
    margin:auto;
    background-color:white;
    border-radius: 10px 10px 0 0 ;
    padding:25px 20px;
    border-bottom:1px solid hsl(220, 14%, 75%);
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 0.9rem;    

}
#filled-message{
    width:96%;
    background-color:white;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding:25px 20px;
    margin:auto;
}
#show-quantity{
    display: flex;
}
#thumbnail{
    width:15%;
}
#thumbnail img{
    width:100%;
    border-radius: 5px;  
}
#filled-pricing{
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color:hsl(219, 9%, 45%);

}
#delete-items{
    width:10%;
    
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#delete-items img{
    /* width:25%;
    height: 30%; */

}
#checkout{
    height:50px;
    border:none;
    border-radius:10px;
    margin:20px 0 0;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
}
#menu-list{
    /* display: block; */
    position: absolute;
    /* background-color: aqua; */

    /* margin:30px 0 0; */
    /* width:50vw; */
    /* left:0; */
}
#menu {
   
    display: none;
    position: fixed;
    top: 0;
    height:100vh;
    width:65vw;
    background-color: white;
    padding:20px 20px;
    /* overflow: visi/ble; */
    /* margin:0 0 ; */
    box-shadow: 0 0 0px 35vw rgb(0, 0, 0, 0.7);
    /* opacity: 0.5; */

    /* /* list-style-type: square; */
    /* text-decoration: none;  */
}
#close-icon{
    margin-bottom: 20px;
}
#menu a{
    display: block;
    /* display: block; */
    /* padding:20px 0; */
    /* margin:20px 0 0; */
    /* margin:0 0 auto; */
    position: relative;
    padding:10px 0;
    font-weight: 700;
    font-size:0.9rem;
    /* height: 10vh; */
}
#menu-list{
    list-style-type: none;
    /* padding-bottom:auto; */
   
}
#cart {
    width:5%;
    margin-left:auto;
    
}
#display-cart{
    
}
.avatar{
    width:6%;
   margin:10px 20px;  
}
.logo{
    width:40%;
    padding:35px;
}
.hamburger{
/* padding:15px 0; */
margin:0px 15px 0 20px;
}
/* .hero-section{
    position: fixed;
} */
#main-image{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-image: url('./../images/image-product-1.jpg');
     background-size: 100% 100%;
     background-repeat: no-repeat;
}
.arrow{
    background-color: aliceblue;
    border-radius: 100px;
    padding:3px;
    text-align: center;
}
#cart-quantity{
    /* display: none; */
    margin:0 0px 21px -12px;
    font-size: 0.65rem;
    font-weight: 700;
    color:white;
    background-color: hsl(26, 100%, 55%);
    border-radius:6px;

}
#cart-quantity-background{
    padding:0 6px;
}
#main-image div{
    margin:20vh 0;
    /* padding:100x; */
}
.arrow-left{
    width:100%;
    
}
.content{
    padding:0 25px;
    margin:0 0 50px;
}
.content .company{
    font-size: 0.75rem;
    font-weight: 700;
    padding:18px 0 10px;
    letter-spacing: 0.08rem;
    color: hsl(26, 100%, 55%);
}
.content .heading{
    font-size: 1.6rem;
    font-weight: 700;
    width:80%;
    color: hsl(220, 13%, 13%);
}
.content .product-detail{
    font-size: 0.9rem;
    /* width:90%; */
    padding:15px 0;
    line-height: 1.8;
    color:hsl(219, 9%, 45%);
    /* word-spacing: 0.1rem; */
    letter-spacing: 0.02rem;
}
.price-detail{
    display: flex;
    padding:5px 0px;
    justify-content: center;
    align-items: center;
}
.cross-original{
    margin-left:auto;
    color: hsl(220, 14%, 75%);
    font-size: 1rem;
    font-weight: 700;
}
.price-detail p{
    padding:0px 10px;
}
.rate p{
    font-size: 1.5rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
}

.fifty-percent span{
    background-color: hsl(25, 100%, 94%);
    font-size: 1rem;
    border-radius: 5px;
    padding:3px 8px;
   font-weight: 700;
   color:hsl(26, 100%, 55%);
}
.plus-minus{
    display: flex;
    justify-content: space-between;
    padding:18px 20px;
    margin:20px 0 15px;
    background-color:hsl(223, 64%, 98%);
    border-radius:10px;
    font-weight: 700;
    font-size: 1rem;

}
.plus-minus button{
    background:hsl(223, 64%, 98%);
    border:none;
}
#click-to-add{
   background-color:hsl(26, 100%, 55%); 
    width:100%;
    border:none;
    height:58px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
   
}
#click-to-add div{
    display: flex;
    justify-content: center;
}
#click-to-add div p{
    padding:0px 15px;
}
.click-to-add div {
    /* padding:10px; */
    /* width:15%; */
}
.add-button{
    /* display: flex; */

}
#desktop-image{
    display: none;
}
#light-box{
    display: none;
}
}
